services:
  postgres:
    image: postgres:15
    container_name: english_learning_postgres
    environment:
      POSTGRES_DB: english_learning
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      LANG: en_US.UTF-8
      LC_ALL: en_US.UTF-8
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local